* {
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block
}

nav {
    overflow: hidden;
}

nav a {
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: darkcyan;
    padding: 15px 20px;
    transition: all 0.5s ease;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

a.menu:hover {
    background-color: crimson;
}

.active {
    background-color: crimson;
}

@media (max-width: 807px) {
    nav a#menu2{
    padding: 24.5px 30px;
}
    nav a#menu4{
        padding: 15px 30px;
    }
}

@media (max-width: 784px) {
    nav a#menu2{
    padding: 15px 30px;
}
    nav a#menu4{
        padding: 15px 30px;
    }
}

@media (max-width: 600px) {
    nav a {
        width: 50%;
    }
}

@media (max-width: 400px) {
    nav a {
        width: 100%;
    }
}

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 20%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

img.picture {
    float: left;
    padding: 0px 10px 10px 0;
    width: 35%;
    border-radius: 50%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;
}

iframe {
    width: 100%;
}

footer {
    height: 40px;
    background-color: darkcyan;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

img.picture1 {
    width: 100%;
    display: block
}
